body {
    /*background: #1c1c1c !important; */
    /* tom de roxo 56088c */
    /* outro tom de roxo 210534 */ 
    /* um tm de cinza escuro 1c1c1c */
    font-family: Comfortaa !important;

}


@font-face {
    font-family: "Comfortaa";
    src: url("../font/Comfortaa-Regular.ttf");
    src: url("../font/Comfortaa-Bold.ttf");
    src: url("../font/Comfortaa-Light.ttf");
    font-weight: normal !important;
    font-style: normal !important;
}

/* Menu de navegação */

.half-rule { 
    margin-left: 0;
    text-align: left;
    width: 50%;
 }

nav ul li a {
    color: #D71F49;
    font-size: 1rem;
    transition-duration: .35s !important;
    margin-right: .5rem !important;
    font-weight: 400 !important;
}

nav ul li a:hover {
    color: #ff0059 !important;
    transition-duration: .35s !important;
}

/* BTN Contato */
.btn-contato {
    background: #fff !important;
    color: #1c1c1c !important;
    font-weight: 600 !important;
}

.btn-contato:hover {
    background: #1c1c1c !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}
/* BTN Contato */

/* Menu Dropdown head */
.dropdown:hover>.dropdown-menu {
    display: block;
    width: 260px;
}

ul.dropdown-menu li a {
    color: #ff0059 !important;
    text-decoration: none !important;
    font-weight: 400 !important;    
}

ul.dropdown-menu li a:hover {
    color: #1c1c1c !important;
    font-weight: 500 !important;     
}
/* Menu Dropdown head */
/* FIM Menu de navegação */

section#principal-head {
    background: url("../img/background.png") repeat-x !important; 
    background-size: contain !important;
}

div#img-face {
    background: url("../img/img-1.jpg") no-repeat right !important;
    background-size: contain !important;
    background-attachment: auto !important;
    height: 600px !important;
        
}

/* @keyframes das thumbs */
@keyframes thumbs {
  0% {bottom: 0px;} 
  50% {bottom: 500px;}
  100% {bottom: 0px;}
}

.bg img {
    display: block !important;
    max-width: 100% !important;    
    background-size: cover !important; 
}  

.bg {
    padding: 0px !important;
    margin: 0px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    overflow-y: hidden !important;
}

.bg img:hover {
    animation: thumbs 10s linear infinite;
    position: relative;
}
/* FIM @keyframes das thumbs */


/* Formatação dos textos em geral */

ul li p {
    margin: 1.5em auto !important;
}

/* Formatação dos textos em geral */


/* Barra de Progresso */
svg{width:15%;}

/* BTN Voltar ao topo */

#btn-voltar {
    dislay: block;
    position: fixed !important;
    bottom: 50px;
    right: 40px;
    cursor: pointer;
    opacity: .8;
}      

#btn-voltar:hover {
    text-color: white !important;
    opacity:1;
}

.r-project {
    max-width: 130px !important;
}

/* BTN Voltar ao topo */  

/* Footer */
div.get-in-touch a {
    cursor: pointer !important;
}

/* Footer */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    
    .nav-menu-header {
        display: flex !important;
        justify-content: center !important;
            
    }
    
    #nav-menu ul li,#nav-menu ul div {
        display: flex !important;
        justify-content: center !important;
    }
    
    /* Sessão Apresentação */    
    section#principal-head h5, h1 {
        font-size: 1em !important;
        text-align: center !important;
    }
    /* Sessão Apresentação */  
    
    /* Sessão Menu 2 */
    section#menu-2 nav div ul li a {
        font-size: .9em !important;
        text-align: justify !important;
        
    }
    /* Sessão Menu 2 */
    
    /* Sessão Some Info */
    section#some-info div div div h2 {
        font-size: 1.5em !important;
        padding: .9em 0em !important;
    }
    section#some-info div div div h6 {
        font-size: 1em !important;
        padding-bottom: .9em !important;
        margin: auto .5em !important;
    }
    
    section#some-info div div div p {
        margin: auto .5em !important;
        padding-bottom: .75em !important;
    }
    /* Sessão Anúncios */
    section#some-info div div div div div div h5 {
        font-size: 1em !important;
    }
    
    section#some-info div div div div div div p {
        font-size: .9em !important;
    }    
    /* Sessão Anúncios */
    /* Sessão Some Info */
    
    /* Sessão My Portfolio */
    div.my-portfolio h3 {
        font-size: 1.5em !important;        
    }

    div.my-portfolio h5 {
        font-size: 1.25em !important;        
    }

    div.my-portfolio a {
        font-size: .9em !important;        
    }
    /* Sessão My Portfolio */
    
    
    /* Sessão Testimonials */    
    div.testimonials p {
        font-size: .9em !important;
    }
    /* Sessão Testimonials */
    
    /* Footer */
    
    div.get-in-touch {
        padding: 1.25em 0px !important;
    }
    div.get-in-touch h3 {
        font-size: 1em !important;
    }

    div.get-in-touch h5 {
        font-size: 1em !important;
    }

    div.get-in-touch a {
        font-size: .9em !important;
        cursor: pointer !important;
    }    
    /* Footer */ 
    
    div.mediaqueries::before {
        font-weight: bold !important;
        content: "Tamanho XSM" !important;
        color: black !important;
        border: 1px solid red;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    .nav-menu-header {
        display: flex !important;
        justify-content: center !important;            
    }
    
    #nav-menu ul li,#nav-menu ul div {
        display: flex !important;
        justify-content: center !important;
    }
    
    /* Sessão Menu-Sticky */    
    div.menu-sticky ul li a {
        display: inline !important;
        font-size: 1em !important;
    }
    /* Sessão Menu-Sticky */

    div.mediaqueries::before {
        font-weight: bold !important;
        content: "Tamanho SM" !important;
        color: black !important;
        border: 1px solid red;
    }
    
    
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
    .nav-menu-header {
        display: flex !important;
        justify-content: center !important;
            
    }
    
    #nav-menu ul li,#nav-menu ul div {
        display: flex !important;
        justify-content: center !important;
    }

    div.mediaqueries::before {
        font-weight: bold !important;
        content: "Tamanho MD" !important;
        color: black !important;
        border: 1px solid red;
    }

}

/* Large devices (desktops, 992px and up) */ 
@media (min-width: 992px) and (max-width: 1199.98px) {

    div.mediaqueries::before {
        font-weight: bold !important;
        content: "Tamanho LG" !important;
        color: black !important;
        border: 1px solid red;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    div.mediaqueries::before {
        font-weight: bold !important;
        content: "Tamanho XL" !important;
        color: black !important;
        border: 1px solid red;
    }

}